<tfoot>
  <tr>
    <td colspan="3" style="text-align:right;">Subtotal:</td>
    <td style="text-align:right;">£<%= '%.2f' % total_price %></td>
    <td></td>
  </tr>
  <tr>
    <td colspan="3" style="text-align:right;">Delivery:</td>
    <td style="text-align:right;">£10.00</td>
    <td></td>
  </tr>
  <tr>
    <td colspan="3" style="text-align:right; font-weight: 700;">Total:</td>
    <td style="text-align:right; font-weight: 700;">£<%= '%.2f' % (total_price + 10) %></td>
    <td></td>
  </tr>
</tfoot>
