<!-- Top Section: Logo + User Icon + Hero -->
<div data-controller="hide-header">
  <header class="top-header" data-hide-header-target="header" style="position: relative; z-index: 10; padding-bottom: 0.4rem;">
    <div class="app-title-container">
      <%= image_tag "medfly-logo.png", alt: "MedFly Logo", class: "medfly-logo" %>
      <div class="app-name">MedFly</div>
    </div>
    <!-- <div class="user-icon"></div> -->
  </header>
</div>
