<h2>Leave a Review</h2>

<%= simple_form_for [@pharmacy, @review], html: {class: "review-form"} do |f| %>
		<%= f.input :rating %>
		<%= f.input :description %>
       <%= f.button :submit %>
<% end %>

<style>
  .star-rating {
    direction: rtl;
    display: inline-flex;
    font-size: 2rem;
    user-select: none;
  }

  .star-rating input[type="radio"] {
    display: none;
  }

  .star {
    color: #ccc;
    cursor: pointer;
    padding: 0 5px;
  }

  .star-rating input:checked ~ label,
  .star-rating label:hover,
  .star-rating label:hover ~ label {
    color: gold;
  }
</style>
